h2{
    font-size: large;
    font-weight: bolder;
    color: aliceblue;
}
P{
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
}
h1{
    font-size: larger;
    color: aliceblue;
    text-align: left;
}
body{
    background-color: black;
    text-align: center;
}
.image{
    padding: 10px;
    height: 100px;
    width: 100px;
}